<h1 ng-bind="category.name"></h1>

<p>Misses: <span ng-bind="misses"></span></p>

<div class="well">
	<table>
		<tr>
			<td ng-repeat="letter in splitWord">
				<h3 ng-bind="letter.revealed ? letter.letter : '-'"></h3>
			</td>
		</tr>
	</table>
</div>

<span ng-repeat="letter in keyboard">
	<a ng-click="reveal(letter)" ng-bind="letter"></a>
</span>

Debug
<pre ng-bind="category | json"></pre>
<pre ng-bind="word | json"></pre>
<pre ng-bind="splitWord | json"></pre>
<pre ng-bind="guessed | json"></pre>
<pre ng-bind="keyboard | json"></pre>